.ContactPageContainer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap-reverse;

}

.ContactFormContainer {
    height: 100%;
    min-height:100%;
    margin: 10% 0;
}

.ContactTextContainer {
    text-align: center;
    margin-top: 20px
}

.ContactMailTextContainer {
    display: flex;
}


