.hoverable:hover{
  cursor:pointer;
}

.link {
  text-decoration: none;
}


.link:hover {
  text-decoration: none;
}


/******* Main Logo SVG *******/

.mainLogoSVG {
  width: auto;
}

/******* Main Logo SVG *******/

/******* Flowers SVG *******/

.flowersSVG {
  height: 150mm;
   width: auto;
}

@media only screen and (max-width: 1280px) {
  .flowersSVG {
    height: 120mm;
  }
}

@media only screen and (max-width: 780px) {
  .flowersSVG {
    height: 100mm;
  }
}

@media only screen and (max-width: 600px) {
  .flowersSVG {
    height: 60mm;
  }
}

/******* Flowers SVG *******/


/******* Human Mind SVG *******/
.humanMindSVG{
  margin-bottom: 30px;
}

.planet_finance{
  -webkit-transition: fill .5s ease-in; /* Safari */
  transition: fill .5s ease-in;  
}


.planet_finance:hover{
    fill: var(--ob_blue);  
    -webkit-transition: fill .5s ease-in; /* Safari */
    transition: fill .5s ease-in;  
}

.finance_text {
  -webkit-transition: opacity 1s ease-in; /* Safari */
  transition: opacity 1s ease-in;
}

.planet_finance:hover ~ .finance_text  {
  opacity: 1;
  -webkit-transition: opacity 1s ease-in; /* Safari */
  transition: opacity 1s ease-in;
}

.planet_inventory {
  -webkit-transition: fill .5s ease-in; /* Safari */
  transition: fill .5s ease-in;
}

.planet_inventory:hover {
  fill: var(--ob_green);
  -webkit-transition: fill .5s ease-in; /* Safari */
  transition: fill .5s ease-in;
}

.inventory_text {
  -webkit-transition: opacity 1s ease-in; /* Safari */
  transition: opacity 1s ease-in;
}

.planet_inventory:hover ~ .inventory_text  {
  opacity: 1;
  -webkit-transition: opacity 1s ease-in; /* Safari */
  transition: opacity 1s ease-in;
}

.planet_art {
  -webkit-transition: fill .5s ease-in; /* Safari */
  transition: fill .5s ease-in;
}

.planet_art:hover {
  fill: var(--ob_pink);
  -webkit-transition: fill .5s ease-in; /* Safari */
  transition: fill .5s ease-in;  
}

.art_text  {
  -webkit-transition: opacity 1s ease-in; /* Safari */
  transition: opacity 1s ease-in;
}

.planet_art:hover ~ .art_text  {
  opacity: 1;
  -webkit-transition: opacity 1s ease-in; /* Safari */
  transition: opacity 1s ease-in;
}

.human_body {
  -webkit-transition: fill .5s ease-in; /* Safari */
  transition: fill .5s ease-in;
}

.human_body:hover {
  -webkit-transition: fill .5s ease-in; /* Safari */
  transition: fill .5s ease-in;
  fill:var(--ob_skin);
}

.body_logo  {
  -webkit-transition: fill 1s ease-in; /* Safari */
  transition: fill 1s ease-in;
} 

.human_body:hover  .body_logo  {
  -webkit-transition: fill 1s ease-in; /* Safari */
  transition: fill 1s ease-in;
  fill: var(--ob_black);
}

/******* Human Mind SVG *******/

/******* Snail SVG *******/

.snailSVG {
  height: 150mm;
  padding: 20px;
}
.snail_shell{
  -webkit-transition: fill .5s ease-in; /* Safari */
  transition: fill .5s ease-in;
}

.snail_shell:hover {
  -webkit-transition: fill .5s ease-in; /* Safari */
  transition: fill .5s ease-in;
  fill: var(--ob_lightBlue);
}

.snail_shell_text {
  -webkit-transition: opacity 1s ease-in; /* Safari */
  transition: opacity 1s ease-in;
}

.snail_shell:hover ~ .snail_shell_text  {
  opacity: 1;
  -webkit-transition: opacity 1s ease-in; /* Safari */
  transition: opacity 1s ease-in;
}

.snail_tail {
  -webkit-transition: fill .5s ease-in; /* Safari */
  transition: fill .5s ease-in;
}

.snail_tail:hover {
  fill:var(--ob_brown);
  -webkit-transition: fill .5s ease-in; /* Safari */
  transition: fill .5s ease-in;
}

.snail_tail_text {
  -webkit-transition: opacity 1s ease-in; /* Safari */
  transition: opacity 1s ease-in;
}

.snail_tail:hover ~ .snail_tail_text  {
  opacity: 1;
  -webkit-transition: opacity 1s ease-in; /* Safari */
  transition: opacity 1s ease-in;
}

.snail_tentacle {
  -webkit-transition: fill .5s ease-in; /* Safari */
  transition: fill .5s ease-in;
}

.snail_tentacle:hover {
  fill:var(--ob_lightGreen);
  -webkit-transition: fill .5s ease-in; /* Safari */
  transition: fill .5s ease-in;
}

.snail_tentacle_text {
  -webkit-transition: opacity 1s ease-in; /* Safari */
  transition: opacity 1s ease-in;
}

.snail_tentacle:hover ~ .snail_tentacle_text  {
  opacity: 1;
  -webkit-transition: opacity 1s ease-in; /* Safari */
  transition: opacity 1s ease-in;
}

.snail_head {
  -webkit-transition: fill .5s ease-in; /* Safari */
  transition: fill .5s ease-in;
}

.snail_head:hover {
  -webkit-transition: fill .5s ease-in; /* Safari */
  transition: fill .5s ease-in;
  fill: var(--ob_orange)
}

.snail_head_text {
  -webkit-transition: opacity 1s ease-in; /* Safari */
  transition: opacity 1s ease-in;
}

.snail_head:hover ~ .snail_head_text  {
  opacity: 1;
  -webkit-transition: opacity 1s ease-in; /* Safari */
  transition: opacity 1s ease-in;
}

.snail_tail_text_detailed, .snail_tentacle_text_detailed,
.snail_head_text_detailed, .snail_shell_text_detailed {
  font-size: 4px;
}

@media only screen and (max-width: 1280px) {
  .snailSVG {
    height: 120mm;
  }
  .hoverable.snail_head, .hoverable.snail_tail, 
  .hoverable.snail_tentacle, .hoverable.snail_shell {
    -webkit-transition: none; /* Safari */
    transition: none;
    cursor: none;
  }

  .snail_head { fill: var(--ob_orange); }
  .snail_tail { fill:var(--ob_brown); }
  .snail_tentacle { fill:var(--ob_lightGreen); }
  .snail_shell{ fill: var(--ob_lightBlue) }

  .snail_head_text, .snail_tail_text, .snail_tentacle_text, .snail_shell_text {
    opacity: 1;
    -webkit-transition: none; /* Safari */
    transition: none;
  }

.snail_tail_text_detailed, .snail_tentacle_text_detailed,
.snail_head_text_detailed, .snail_shell_text_detailed {
  font-size: 5px;
  line-height: 10px;
}
}

@media only screen and (max-width: 780px) {
  .snailSVG {
    height: 100mm;    
  }
}

@media only screen and (max-width: 600px) {
  .mainLogoSVG {
    height: 10mm;
    width: auto;
  }
  .snailSVG {
    height: 60mm;
  }
}

/******* Snail SVG *******/

/******* Pencil SVG *******/

.pencilSVG {
  height: 140mm;
  margin: 19px;
  width: auto;
  border: 1px solid var(--ob_font_color);
  border-radius: 50%;
  box-sizing: border-box;
}

@media only screen and (max-width: 1280px) {
  .pencilSVG {
    height: 120mm;
  }
}

@media only screen and (max-width: 780px) {
  .pencilSVG {
    height: 100mm;
  }
}

@media only screen and (max-width: 600px) {
  .pencilSVG {
    height: 60mm;
  }
}

/******* Pencil SVG *******/

/******* MAS SVG *******/

.masSVG,.masNoColorSVG {
  height: 100mm;
}

.masNoColorSVG .addOpacity {
  opacity: 1;
}

.path_hoverable#path992,.path_hoverable#path990,
.path_hoverable#path988,.path_hoverable#path986,
.path_hoverable#path984,.path_hoverable#path962,
.path_hoverable#path960,.path_hoverable#path958,
.path_hoverable#path954,.path_hoverable#path950,
.path_hoverable#path948,.path_hoverable#path946,
.path_hoverable#path944,.path_hoverable#path940,
.path_hoverable#path938,.path_hoverable#path936,
.path_hoverable#path922,.path_hoverable#path920,
.path_hoverable#path916,.path_hoverable#path912,
.path_hoverable#path910 {
  opacity: 0;
}

.path_hoverable#path992:hover,.path_hoverable#path990:hover,
.path_hoverable#path988:hover,.path_hoverable#path986:hover,
.path_hoverable#path984:hover,.path_hoverable#path962:hover,
.path_hoverable#path960:hover,.path_hoverable#path958:hover,
.path_hoverable#path954:hover,.path_hoverable#path950:hover,
.path_hoverable#path948:hover,.path_hoverable#path946:hover,
.path_hoverable#path944:hover,.path_hoverable#path940:hover,
.path_hoverable#path938:hover,.path_hoverable#path936:hover,
.path_hoverable#path922:hover,.path_hoverable#path920:hover,
.path_hoverable#path916:hover,.path_hoverable#path912:hover,
.path_hoverable#path910:hover {
  opacity: 1;
} 

@media only screen and (max-width: 1280px) {
  .masSVG,.masNoColorSVG {
    height: 80mm;
  }
}

@media only screen and (max-width: 780px) {
  .masSVG,.masNoColorSVG {
    height: 60mm;
  }
}

@media only screen and (max-width: 600px) {
  .masSVG,.masNoColorSVG {
    height: 40mm;
  }
}

/******* MAS SVG *******/


