.OperationContainer{   
    margin: 20px;
    border-radius: 20px;
    padding: 30px;
    background-color: var(--ob_white);
}
.SumContainer{
    font-size: 5rem;    
    color: var(--ob_green);
}
.MinusContainer{
    color: var(--ob_orange);
    font-size: 5rem;    
}
.MultiplyContainer{
    color: var(--ob_brown);
    font-size: 5rem;    
}
.DivideContainer{
    font-size: 5rem;  
    color: var(--ob_lightBlue);
}

.Link{
    color: var(--ob_black);
    cursor: pointer;
}

.Link:hover{    
    color: var(--ob_brown);
    text-decoration: none;
}

